.dgp-jurisdictionSystem{
    /* padding-top:.31rem;
    padding-left:.7rem; */
}
.dgp-jurisdiction-queryArea{
    width:16.8rem;
    border-radius: .03rem;
    margin-bottom:.28rem;
    position:relative;
}
.dgp-jurisdiction-leftTitle{
    width:100%;
    height:.5rem;
    line-height:.5rem;
    padding-left:.31rem;
    font-size: .16rem;
    border-bottom-width:.01rem;
    border-bottom-style:solid;
    font-family: PingFangSC-Regular;
}
.dgp-jurisdiction-leftTitle span{
    display:inline-block;
    width:.2rem;
    height:.04rem;
    position:absolute;
    top:.2rem;
    right:.18rem;
    border-radius: .01rem;
    cursor:pointer;
}
.dgp-jurisdiction-middleContent{
    height:1.09rem;
    padding-top:.37rem;
    font-size: .14rem;
    font-family: PingFangSC-Regular;
}
.dgp-jurisdiction-middleContent label{
    min-width:.7rem;
    height:.2rem;
    padding-left:.31rem;
}
.dgp-jurisdiction-middleContent input{
    min-width:2.14rem;
    height:.3rem;
    border-width:.01rem;
    border-style:solid;
    border-radius: .03rem;
}
.dgp-jurisdiction-middleContent button{
    width:.64rem;
    height:.3rem;
    margin-left:.2rem;
    cursor:pointer;
    position:absolute;
    top:.88rem;
}

/*表格内容部分*/
.dgp-jurisdiction-tableArea{
    width:16.80rem;
    border-radius: .03rem;
}
.dgp-tableTop{
    height:.8rem;
}




