.dgp-userSystem{
    /* padding-top:.31rem;
    padding-left:.7rem; */
}
.dgp-queryArea{
    width:16.6rem;
    border-radius: .03rem;
    margin-bottom:.28rem;
    position:relative;
}
.dgp-leftTitle{
    width:100%;
    height:.5rem;
    line-height:.5rem;
    padding-left:.31rem;
    font-size: .16rem;
    border-bottom-width:.01rem;
    border-bottom-style:solid;
    font-family: PingFangSC-Regular;
}
.dgp-leftTitle span{
    display:inline-block;
    width:.2rem;
    height:.04rem;
    position:absolute;
    top:.2rem;
    right:.18rem;
    border-radius: .01rem;
    cursor:pointer;
}
.dgp-middleContent{
    height:1.54rem;
    padding-top:.37rem;
    font-size: .14rem;
    font-family: PingFangSC-Regular;
    clear:both;
}
.dgp-middleContent div{
    float:left;
}
.dgp-middleContent label{
    min-width:.7rem;
    height:.2rem;
}
.dgp-middleContent input{
    min-width:2.14rem;
    height:.3rem;
    border-width:.01rem;
    border-style:solid;
    border-radius: .03rem;
}
.dgp-userAccount{
    padding-left:.31rem;
}
.dgp-userName,.dgp-userType,.dgp-userIdCode,.dgp-userOrganization{
    padding-left:.4rem;
}

.dgp-userIdCode{
    width:.56rem;
    height:.2rem;
}
.dgp-userOrganization{
    width:.42rem;
    height:.2rem;
}
.dgp-rightButtons{
    font-size: .14rem;
    position:absolute;
    left:15.19rem;
    top:1.47rem;
    font-family: PingFangSC-Regular;
}
.dgp-rightButtons button{
    width:.64rem;
    height:.3rem;
    cursor:pointer;
    border-radius: .03rem;
}
.dgp-rightButtons button:first-child{
    border-width:.01rem;
    border-style:solid;
    margin-right:.1rem;
}

/*表格内容部分*/
.dgp-tableArea{
    /* width:16.80rem; */
    border-radius: .03rem;
}
.dgp-operateButton{
    height:.8rem;
    padding-top:.24rem;
    padding-left:.32rem;
}
.dgp-increaseBtn{
    min-width:.82rem;
    height:.36rem;
    line-height: .36rem;
    border-radius: .03rem;
    font-family: PingFangSC-Regular;
    font-size: .16rem;
    cursor:pointer;
}
.dgp-increaseBtn img{
    vertical-align: middle;
    width:.14rem;
    height:.14rem;
}
.dgp-powerBtn{
    min-width:.88rem;
    height:.36rem;
    line-height: .36px;
    border-width:.01rem;
    border-style:solid;
    border-radius: .03rem;
    font-family: PingFangSC-Regular;
    font-size: .16rem;
    text-align: center;
    margin-left:.1rem;
    cursor:pointer;
}
.dgp-power-password{
    min-width:2.74rem;
    height:.36rem;
    line-height: .36px;
}
.dgp-passwordBtn{
    display:inline-block;
    height:.36rem;
    line-height: .36px;
    font-family: PingFangSC-Regular;
    font-size: .14rem;
    border-width:.01rem;
    border-style:solid;
    border-left-width:0;
    padding-left:.14rem;
    padding-right:.11rem;
    cursor:pointer;
}






