.dgp-configureSystem{
    /* padding-top:.31rem;
    padding-left:.7rem; */
}
.dgp-configure-queryArea{
    width:16.8rem;
    border-radius: .03rem;
    margin-bottom:.28rem;
    position:relative;
}
.dgp-configure-leftTitle{
    width:100%;
    height:.5rem;
    line-height:.5rem;
    padding-left:.31rem;
    font-size: .16rem;
    border-bottom-width:.01rem;
    border-bottom-style:solid;
    font-family: PingFangSC-Regular;
}
.dgp-configure-leftTitle span{
    display:inline-block;
    width:.2rem;
    height:.04rem;
    position:absolute;
    top:.2rem;
    right:.18rem;
    border-radius: .01rem;
    cursor:pointer;
}
.dgp-configure-middleContent{
    height:1.09rem;
    padding-top:.37rem;
    font-size: .14rem;
    font-family: PingFangSC-Regular;
}
.dgp-configure-middleContent label{
    min-width:.7rem;
    height:.2rem;
    padding-left:.31rem;
}
.dgp-configure-middleContent input{
    min-width:2.14rem;
    height:.3rem;
    border-width:.01rem;
    border-style:solid;
    border-radius: .03rem;
}
.dgp-configure-middleContent button{
    width:.64rem;
    height:.3rem;
    margin-left:.2rem;
    cursor:pointer;
    position:absolute;
    top:.88rem;
}

/*表格内容部分*/
.dgp-configure-tableArea{
    width:16.80rem;
    border-radius: .03rem;
}
.dgp-topBtn{
    width:16.24rem;
    margin:0 auto;
    padding-top:.22rem;
    padding-bottom:.2rem;
}
.dgp-topBtn button{
    min-width:.82rem;
    height:.36rem;
    line-height:.36rem;
    border-width:.01rem;
    border-style:solid;
    border-radius: .03rem;
    font-size: .16rem;
    text-align: center;
    cursor:pointer;
    font-family: PingFangSC-Regular;
}
.dgp-topBtn button:first-child{
    margin-right:.1rem;
}
.dgp-topBtn button:first-child img{
    width:.16rem;
    height:.16rem;
    margin-right:.03rem;
}
.dgp-topBtn button:last-child{
    border-width:.01rem;
    border-style:solid;
    border-radius: .03rem;
}




